<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".plist" mimeType="text/xml" />
            <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".wgz" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".war" mimeType="application/x-zip" />
        </staticContent>
    </system.webServer>
</configuration>
